
@font-face {
	font-family:'KingRichard';
	src:url('King Richard Italic.ttf')
}

/* Tamaño de pantalla de: 980px a inf */
@media screen and (min-width: 980px) {
	aside {
		width: 50%;
		margin-left: 40px;
	}

	section {
		width: 65%;
		margin-left: 40px;
	}

	.navi {
		display: inline-block;
		text-align: center;
		float: left;
	}

	body {
		background-color: #f2d9d9; /* rojo palido */
	}
}

/* Tamaño de pantalla de: 700px a 980px */
@media screen and (max-width: 980px) and (min-width: 700px) {
	aside {
		width: auto;
		margin: auto;
		margin-left: 15px;
	}

	section {
		width: 47%;
		margin: auto;
	}

	.navi {
		display: inline-block;
		text-align: center;
		float: left;
	}

	body {
		background-color: #ffe6b3; /* Ocre */
	}
}

/* Tamaño de pantalla de: 480px a 700px */
@media screen and (max-width: 700px) and (min-width: 480px) {
	aside {
		width: auto;
	}

	section {
		width: 350px;
	}

	.navi {
		display: inline-block;
		text-align: center;
		float: left;
	}

	body {
		background-color: #99e6ff; /* azul cielo */
	}
}

/* Tamaño de pantalla de: 1px a 480px */
@media screen and (max-width: 480px) {
	aside {
		width: auto;
		margin: 0 auto;
	}

	section {
		width: 350px;
		margin: 0 auto;
	}

	.navi {
		display: block;
		text-align: center;
	}

	body {
		background-color: #dfbe9f; /* marron */
	}
}

#imagen {
	width: 60px;
	height: 60px;
}

section {
	float: left;
	display: inline-block;
	max-width: 680px;
	min-width: 350px;
	margin-bottom: 30px;
	border-radius: 8px;
	border: 3px solid #663300;
	padding: 0.01em 16px;
}

aside {
	float: left;
	display: inline-block;
	width: 300px;
	max-width: 300px;
	min-width: 300px;
	margin-bottom: 30px;
	border-radius: 8px;
	border: 3px solid #663300;
	padding: 9px;
}

footer {
	text-align: right;
}

nav {
	margin-bottom: 30px;
}

.cajacontenedoraTitulo {
	font-family: KingRichard;
	font-size: 20px;
	text-align: center;
	padding: 0.01em 16px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.cajacontenedoraPie {
	display: block;
	clear: both;
	padding: 0.01em 16px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.Tealcolor {
	color: #fff !important;
	background-color:#009688 !important;
}

ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
	text-align: center;
}

li a {
	display: inline-block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
	background-color: #4CAF50;
}

.flotantearriba {
    display: scroll;
    position: fixed;
    bottom: 155px;
    right: 0px;
}

.flotanteabajo {
    display: scroll;
    position: fixed;
    bottom: 95px;
    right: 0px;
}

.vista {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.vista .mask {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.vista img {
    display: block;
    position: relative;
}

.vista h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}
.vista q {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.vista a.info {
    display: block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.vista a.info:hover {
    box-shadow: 0 0 5px #000
}

.vista img {
    transition: all 0.3s ease-in-out; 
}

.vista .mask {
    opacity: 1;
    background-color: hsla(5,23%,46%,0.3);
    transform: translateX(-300px); 
    transition: all 0.4s ease-in-out; 
}

.vista h3 {
    background: hsla(0,0%,100%,0.5);
    color: hsl(0,0%,0%);
    box-shadow: 0px 1px 3px hsla(3,9%,59%,0.5);
}

.vista q {
    opacity: 0;
    color: #333;
    margin-top: 20px;
}

.vista:hover .mask {
    transform: translateX(0px);
}

.vista:hover img {
    transform: translateX(300px);
    transition-delay: 0.1s;
}

.vista:hover q {
    opacity: 1;
}