
@font-face {
	font-family:'KingRichard';
	src:url('King Richard Italic.ttf')
}

/* Tamaño de pantalla de: 981px a inf */
@media screen and (min-width: 981px) {
	.contenedor {
		display: inline-table;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	aside {
		width: 50%;
		height: auto;
		margin-left: 5%;
	}

	section {
		width: 65%;
	}

	.articulos {
		width: 65%;
	}

	.T1 {
		width: 70%;
	}

	.main {
		display: flex;
		justify-content: center;
		width: 95%;
	}

	.navi {
		display: inline-block;
		text-align: center;
		float: left;
	}

	body {
		background-color: #f2d9d9; /* rojo palido */
	}
}

/* Tamaño de pantalla de: 701px a 980px */
@media screen and (max-width: 980px) and (min-width: 701px) {
	.contenedor {
		display: inline-table;
		justify-content: center;
		width: 95%;
	}

	.contenedor2 {
		width: auto;
	}

	aside {
		width: auto;
		max-height: 545px;
		margin-left: 1%;
	}

	section {
		width: 65%;
	}

	.navi {
		display: inline-block;
		text-align: center;
		float: left;
	}

	body {
		background-color: #ffe6b3; /* Ocre */
	}
}

/* Tamaño de pantalla de: 481px a 700px */
@media screen and (max-width: 700px) and (min-width: 481px) {
	.contenedor {
		display: inline-table;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	aside {
		width: auto;
		max-height: 595px;
		margin-left: 1%;
	}

	section {
		width: auto;
	}

	.navi {
		display: block;
		text-align: center;
	}

	body {
		background-color: #99e6ff; /* azul cielo */
	}
}

/* Tamaño de pantalla de: 1px a 480px */
@media screen and (max-width: 480px) {
	.contenedor {
		display: inline-table;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	aside {
		float: left;
		width: auto;
		margin: 0 auto;
	}

	section {
		float: right;
		width: auto;
		margin: 0 auto;
		top: 5000px;
	}

	article {
		width: 98%;
	}

	table {
		width: 95%;
	}

	.navi {
		display: block;
		text-align: center;
	}

	body {
		background-color: #dfbe9f; /* marron */
	}
}

.imagen {
	width: 60px;
	height: 60px;
}

.contenedor {
	margin-bottom: 30px;
}

section {
	margin-bottom: 30px;
	border-radius: 8px;
	border: 3px solid #663300;
	background-color: #fff7e6;
	text-align: center;
}

aside {
	max-width: 300px;
	min-width: 200px;
	max-height: 600px;
	margin-bottom: 30px;
	border-radius: 8px;
	border: 3px solid #663300;
	padding: 9px;
	background-color: #fff7e6;
}

footer {
	text-align: right;
}

nav {
	margin-bottom: 30px;
}

.cajacontenedoraTitulo {
	font-family: KingRichard;
	font-size: 20px;
	text-align: center;
	padding: 0.01em 16px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.cajacontenedoraPie {
	display: block;
	clear: both;
	padding: 0.01em 16px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.Tealcolor {
	color: #fff;
	background-color: #009688;
}

body {
	margin: 0 auto;
	/*background-image: url("images/image1.png");*/
	background-size: cover;
	background-repeat: no-repeat;
}

ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
	text-align: center;
}

li a {
	display: inline-block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
	background-color: #4CAF50;
}

.flotantearriba {
    position: fixed;
    bottom: 155px;
    right: 0px;
}

.flotanteabajo {
    position: fixed;
    bottom: 95px;
    right: 0px;
}

.vista {
    width: 250px;
    height: 200px;
    margin: 5px 5px;
    float: left;
    border: 5px solid #86592d;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.vista .mask {
    width: 250px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.vista img {
    display: block;
    position: relative;
}

.vista h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}

.vista q {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 10px 10px;
    text-align: center;
}

.vista a.info {
    display: block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.vista a.info:hover {
    box-shadow: 0 0 5px #000
}

.vista img {
    transition: all 0.3s ease-in-out; 
}

.vista .mask {
    opacity: 1;
    background-color: hsla(5,23%,46%,0.3);
    transform: translateX(-300px); 
    transition: all 0.4s ease-in-out; 
}

.vista h3 {
    background: hsla(0,0%,100%,0.5);
    color: hsl(0,0%,0%);
    box-shadow: 0px 1px 3px hsla(3,9%,59%,0.5);
}

.vista q {
    opacity: 0;
    color: #333;
    margin-top: 20px;
}

.vista:hover .mask {
    transform: translateX(0px);
}

.vista:hover img {
    transform: translateX(300px);
    transition-delay: 0.1s;
}

.vista:hover q {
    opacity: 1;
}

.T1 {
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

/* *** SECCION DE ARTICULOS PRINCIPALES *** */
.articulos {
	justify-content: center;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 30px;
}

.articulos article {
	border-bottom: 3px solid #663300;
}

.articulos img {
	width: 300px;
	height: 200px;
	transition: width 2s, height 2s, transform 2s;
}

.articulos img:hover {
	width: 350px;
	height: 200px;
}

.cita {
	text-align: justify;
	font-style: italic;
}

/* ****************************************************** */
.col {
	justify-content: center;
	display: block;
	margin: 0 auto;
}

.T1 article {
	text-align: center;
	/*float: left;*/
	margin-bottom: 30px;
	border: 3px solid #663300;
	border-radius: 8px;
	background-color: #fff7e6;
}

.T1 article h2 {
	padding-left: 10px;
	padding-right: 10px;
}

table {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto; /* CENTRAR TABLA */
}

th td {
	border: 1px solid #000;
	padding: 3%;
}

tr {
	border-bottom: 1px solid #000;
}